<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  描述:[demo][人员]的插入方法的SQL文件
 @version: 0_1
 @author: AutoGenerate
 @date: 2017-10-11 16:07:48
 -->
<mapper namespace="com.paasit.pai.core.demo">
    <insert id="DemoF01SQL01" 
        parameterType="com.paasit.pai.core.sql.dto.demo.DemoF01SQL01IM01">
        INSERT INTO 
            demo (
                id,
                name,
                age,
                salary,
                birthDay,
                created_by, 
                created_date, 
                last_modified_by, 
                last_modified_date, 
                is_del )
        VALUES (
            #{id,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{age,jdbcType=INTEGER},
            #{salary,jdbcType=DECIMAL},
            #{birthDay,jdbcType=TIMESTAMP},
            #{createdBy, jdbcType=VARCHAR},
            #{createdDate, jdbcType=TIMESTAMP},
            #{lastModifiedBy, jdbcType=VARCHAR},
            #{lastModifiedDate, jdbcType=TIMESTAMP},
            #{isDel, jdbcType=TINYINT})
    </insert>
</mapper>