<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  描述:[demo][人员]更新方法SQL文件
 @version: 0_1
 @author: AutoGenerate
 @date: 2017-10-11 16:07:48
 -->
<mapper namespace="com.paasit.pai.core.demo">
    <update id="DemoF03SQL01" 
          parameterType="com.paasit.pai.core.sql.dto.demo.DemoF03SQL01IM01">
        UPDATE
            demo
        SET
            name = #{name,jdbcType=VARCHAR},
            age = #{age,jdbcType=INTEGER},
            salary = #{salary,jdbcType=DECIMAL},
            birthDay = #{birthDay,jdbcType=TIMESTAMP},
            LAST_MODIFIED_BY = #{lastModifiedBy, jdbcType=VARCHAR},
            LAST_MODIFIED_DATE = #{lastModifiedDate, jdbcType=TIMESTAMP}
        WHERE
            ID = #{id, jdbcType=VARCHAR}
    </update>
</mapper>